<header>
<!--   creates a navbar header at the top of the page going edge to edge -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <a class="navbar-brand" href="/">TinyApp</a>

    <!-- initializes styles for our clickable buttons in the header navbar -->    
    <button
      class="navbar-toggler" type="button"  data-toggle="collapse"
      data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- creates our buttons that link to pages across our site -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

        <!-- If user cookie isnt stored as a logged in account, display options -->
        <% if (!isLoggedIn) { %>
          <a class="nav-item nav-link" href="/login"><b>Login</b></a>
          <a class="nav-item nav-link" href="/register"><b>Register</b></a>
        <% } %>

        <!-- If user is logged in with a cookie stored, display option for logout -->
        <% if (isLoggedIn) { %>
          <form class="form-inline" action="/logout" method="POST">
            <a class="nav-item nav-link"><b> Logged in as <%= user.email %></b></a>
            <button type="submit" 
            action="/logout" 
            method="POST" 
            class="btn btn-primary">Logout</button> 
          </form> 
        <% } %>
      </div>
    </div>
  </nav>
</header>