<header>
<!--   creates a navbar header at the top of the page going edge to edge -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">

    <a class="navbar-brand" href="/">TinyApp</a>

    <!-- initializes styles for our clickable buttons in the header navbar -->    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- creates our buttons that link to pages across our site -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>


  </nav>

</header>
