<!DOCTYPE html>
<html lang="en">

 <!-- head represents our initial starter metadata -->
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>
  </head>

  
  <body>
    <%- include('partials/_header') %> <!-- Renders our header -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="jumbotron">
            <h1 class="display-4">Welcome to TinyApp!</h1>
            <p class="lead">Hello, and again, welcome to the TinyApp URL enrichment center</p>
            <hr class="my-4">
            <p>We are using Javasript, Express.js, EJS, and some CSS Bootstrap code to take your super long URLS and create short ones so you can share with your friends.</p>
            
            <% if (!isLoggedIn) { %>
              <p>Create a new account to begin creating short URLs!</p>
              <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up</a>
            <% } %>

            <% if (isLoggedIn) { %>
              <p>Check out your shortened URLS here</p>
              <a class="btn btn-primary btn-lg" href="/urls" role="button">My Short URLS</a>
            <% } %>

          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
